{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->


    <div class="hero-area">
      {% for item in francois %}
        <!-- Hero Slides Area -->
        <div class="hero-slides owl-carousel">
            <!-- Single Slide -->
            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images1.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images2.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images3.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images4.url}});"></div>

            <!-- Single Slide -->
            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images5.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images6.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images7.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images8.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images9.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images10.url}});"></div>

            <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images11.url}});"></div>
        {% endfor %}
        </div>



    <!-- Hero Post Slide -->
    <div class="hero-post-area">
        <div class="container">
            <div style = "text-align: center; padding-bottom: 100px;">
                <h1 class="display-4 mb-4" style="color: white; font-size: 72px;">
                  FINTANK
                </h1>
                <p style="color: white;  font-size: 32px;">Your Portfolio Just Got Easier To Manage</p>
            </div>



        <div class="row">
            <div class="col-12">
                <div class="hero-post-slide">
                    <!-- Single Slide -->
                    <div class="single-slide d-flex align-items-center">
                        <div class="post-title">
                          {% if dji_perc < 0 %}
                           <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                           <p><b style="color: white;">Price: ${{ dji_price | safe }} </b> <br>
                              <b style="color: white;">Change: {{ dji_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                              <b style="color: white;">{{dji_name}}</b>
                             {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                             <p><b style="color: white;">Price: ${{ dji_price | safe }} </b> <br>
                                <b style="color: white;">Change: {{ dji_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                <b style="color: white;">{{dji_name}}</b>
                         {% endif %}</p>
                        </div>
                    </div>
                            <!-- Single Slide -->
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if gspc_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ gspc_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ gspc_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{gspc_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ gspc_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ gspc_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{gspc_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <!-- Single Slide -->
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if ixic_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ ixic_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ ixic_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{ixic_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ ixic_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ ixic_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{ixic_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <!-- Single Slide -->
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if rut_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ rut_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ rut_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{rut_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ rut_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ rut_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{rut_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if rutone_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ rutone_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ rutone_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{rutone_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ rutone_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ rutone_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{rutone_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if gsptse_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ gsptse_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ gsptse_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{gsptse_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ gsptse_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ gsptse_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{gsptse_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if gsptse_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ tsx60_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ tsx60_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{tsx60_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ tsx60_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ tsx60_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{tsx60_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if nikkei_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ nikkei_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ nikkei_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{nikkei_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ nikkei_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ nikkei_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{nikkei_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if tyield_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ tyield_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ tyield_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{tyield_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ tyield_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ tyield_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{tyield_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if tyield10_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ tyield10_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ tyield10_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{tyield10_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ tyield10_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ tyield10_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{tyield10_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if ftse_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: ${{ ftse_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ ftse_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{ftse_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: ${{ ftse_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ ftse_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{ftse_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                            <div class="single-slide d-flex align-items-center">
                                <div class="post-title">
                                  {% if vix_perc < 0 %}
                                   <h5><span style="color: red;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                   <p><b style="color: white;">Price: {{ vix_price | safe }} </b> <br>
                                      <b style="color: white;">Change: {{ vix_perc }}% <span style="color: red;"><font size="5">-</font></span></b> <br>
                                      <b style="color: white;">{{vix_name}}</b>
                                     {% else %} <h5><span style="color: green;"><font size="5"><i class="fas fa-line-chart fa-4x mr-2"></i></font></span></h5>
                                     <p><b style="color: white;">Price: {{ vix_price | safe }} </b> <br>
                                        <b style="color: white;">Change: {{ vix_perc }}% <span style="color: green;"><font size="5">+</font></span></b> <br>
                                        <b style="color: white;">{{vix_name}}</b>
                                 {% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content-wrapper section-padding-100">
      <div class="container" style="margin: 25px;">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-8">
            <div class="post-content-area mb-50">
              <div class="world-catagory-area">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="title" style="font-size: 20px;">Latest News</li>
                </ul>

                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <div class="world-catagory-slider owl-carousel wow fadeInUpBig" data-wow-delay="0.1s">

                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='polimage1' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">economy</a></div>
                            </div>
                            <!-- Post Content -->
                             <div class="post-content">
                              <a id='polurl1' class="headline">
                                <h5 id='polnewsTitle1'></h5>
                              </a>
                              <p id = "poldescription1"></p>

                              <div class="post-meta">
                                <p id='polsource1'></p>
                              </div>
                            </div>
                          </div>

                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='dowimage1' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">markets</a></div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                              <a id='dowurl1' class="headline">
                                <h5 id='downewsTitle1'></h5>
                              </a>
                              <p id = "dowdescription1"></p>
                              <!-- Post Meta -->
                              <div class="post-meta">
                                <p id='dowsource1'></p>
                              </div>
                            </div>
                          </div>

                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='ecoimage1' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">markets</a></div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                              <a id='ecourl1' class="headline">
                                <h5 id='econewsTitle1'></h5>
                              </a>
                              <p id = "ecodescription1"></p>
                              <!-- Post Meta -->
                              <div class="post-meta">
                                <p id='ecosource1'></p>
                              </div>
                            </div>
                          </div>


                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='polimage2' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">economy</a></div>
                            </div>
                            <!-- Post Content -->
                             <div class="post-content">
                              <a id='polurl2' class="headline">
                                <h5 id='polnewsTitle2'></h5>
                              </a>
                              <p id = "poldescription2"></p>

                              <div class="post-meta">
                                <p id='polsource2'></p>
                              </div>
                            </div>
                          </div>

                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='dowimage2' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">markets</a></div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                              <a id='dowurl2' class="headline">
                                <h5 id='downewsTitle2'></h5>
                              </a>
                              <p id = "dowdescription2"></p>
                              <!-- Post Meta -->
                              <div class="post-meta">
                                <p id='dowsource2'></p>
                              </div>
                            </div>
                          </div>

                          <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                              <img id='ecoimage2' alt="">
                              <!-- Catagory -->
                              <div class="post-cta"><a href="#">markets</a></div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                              <a id='ecourl2' class="headline">
                                <h5 id='econewsTitle2'></h5>
                              </a>
                              <p id = "ecodescription2"></p>
                              <!-- Post Meta -->
                              <div class="post-meta">
                                <p id='ecosource2'></p>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="col-12 col-md-6">
                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='polimage3' alt="">
                          </div>
                          <div class="post-content">
                            <a id='polurl3' class="headline">
                              <h5 id='polnewsTitle3'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='polsource3'></p>
                            </div>
                          </div>
                        </div>

                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='dowimage3' alt="">
                          </div>
                          <div class="post-content">
                            <a id='dowurl3' class="headline">
                              <h5 id='downewsTitle3'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='dowsource3'></p>
                            </div>
                          </div>
                        </div>

                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='ecoimage3' alt="">
                          </div>
                          <div class="post-content">
                            <a id='ecourl3' class="headline">
                              <h5 id='econewsTitle3'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='ecosource3'></p>
                            </div>
                          </div>
                        </div>

                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='trendimage1' alt="">
                          </div>
                          <div class="post-content">
                            <a id='trendurl1' class="headline">
                              <h5 id='trend1'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='trendsource1'></p>
                            </div>
                          </div>
                        </div>

                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='trendimage2' alt="">
                          </div>
                          <div class="post-content">
                            <a id='trendurl2' class="headline">
                              <h5 id='trend2'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='trendsource2'></p>
                            </div>
                          </div>
                        </div>

                        <div class="single-blog-post post-style-2 d-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                          <div class="post-thumbnail">
                            <img  style="min-height: 75px; max-height: 75px; min-width: 100px; max-width: 100px;" id='trendimage3' alt="">
                          </div>
                          <div class="post-content">
                            <a id='trendurl3' class="headline">
                              <h5 id='trend3'></h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                              <p id='trendsource3'></p>
                            </div>
                          </div>
                        </div>
                        </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>



<script> var accessKey = "{{ api_key }}"; var accessKey2 = "{{ rapidapi_key }}";</script>
<script src="{% static 'js/homepage/newssearch.js' %}"></script>
{% endblock %}
