{% extends 'base.html' %}
{% block title %} | Profile {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}


<!-- Preloader Start -->
<div id="preloader">
  <div class="preload-content">
    <div id="world-load"></div>
  </div>
</div>
<!-- Preloader End -->


{% for item in francois %}
<div class="hero-area height-600 bg-img background-overlay" style="background-image: url({{item.home_images5.url}});">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="single-blog-title text-center">
                    <!-- Catagory -->
                    <h1 style="color: white; font-size: 52px;">Fintank</h1>
                    <p style="color: white;  font-size: 28px;">Your Portfolio Just Got Easier To Manage</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<div class="main-content-wrapper section-padding-100-20">
  <div class="container" style="max-width:90%;">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-12">
        <div class="single-blog-content" style="margin:0px;">
          <!-- Post Meta -->
          <div class="post-meta" style="margin:0px;">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home'%}">
                    <i class="fas fa-home"></i> Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    {% if crypto_for_breadcrumb_data %}
                    &nbsp; &nbsp; Symbol: {{ crypto_for_breadcrumb_data.symbol |safe }} &nbsp; |  Name: {{ crypto_for_breadcrumb_data.name }} &nbsp; | Price: ${{ crypto_for_breadcrumb_data.price|floatformat:2|intcomma}} &nbsp; |  Percent Change: {{ crypto_for_breadcrumb_data.changesPercentage|floatformat:2|intcomma }}% &nbsp; |  Market Cap: {{ crypto_for_breadcrumb_data.marketCap | safe }} &nbsp; | Volume: {{ crypto_for_breadcrumb_data.volume | safe }}
                    {% endif %}
                  </li>
                </ol>
              </nav>
            </div>
            <!-- Post Content -->
            <div class="row justify-content-center">
              <div class="col-12 col-lg-12">
                <div class="single-blog-content mb-100">
                  <div class="post-meta">
                    <h5> Headline Cryptos</h5>
                  </div>
                  <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr>
                        {% for header in crypto_table_headers %}
                        <th scope="col">{{header}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for crypto in cryptos_for_dashboard %}
                      <tr>
                        <th scope='row'><b>{{ crypto.symbol }}</b></th>
                        <td>{{ crypto.name }}</td>
                        <td>{{ crypto.price }}</td>
                        <td>{{ crypto.changesPercentage }}</td>
                        <td>{{ crypto.dayLow }}</td>
                        <td>{{ crypto.dayHigh }}</td>
                        <td>{{ crypto.yearLow }}</td>
                        <td>{{ crypto.yearHigh }}</td>
                        <td>{{ crypto.marketCap }}</td>
                        <td>{{ crypto.priceAvg50 }}</td>
                        <td>{{ crypto.priceAvg200 }}</td>
                        <td>{{ crypto.volume }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="post-content" style="max-width:100%">
            <canvas id="crypto-chart" width="100" height="40" data-url="{% url 'crypto_profile' %}"></canvas>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10 col-lg-10">
          <div class="post-content" style="max-width:100%">
            <canvas id="moving-avg-chart" width="100" height="40" data-url="{% url 'crypto_profile' %}"></canvas>
          </div>
        </div>
        <div class="col-2 col-lg-2" style="padding-top:200px;">
          <p>ReCalculate the Moving Averages</p>
          <div class="input-group input-group-sm mb-3">
            <div class="row">
              <div class="col-12 col-lg-12">
                <input type="text" id="short-window" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
              <div class="col-12 col-lg-12">
                <input type="text" id="long-window" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" id="re-calculate" type="button" onclick="movingAverageCryptoCharting(allDates = '{{crypto_dates|safe}}' allPrices='{{crypto_prices|safe}}' cryptoFullName='{{crypto_for_breadcrumb_data.name}}')">Re-Calculate</button>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript" src="https://gitcdn.link/cdn/schme16/Chart.js-RangeSlider/2dc49a0980ca04ca2690bc5f1c9e3644e4207b5a/dist/RangeSlider-all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script> var cryptoDates = {{crypto_dates|safe}}; var cryptoData={{crypto_prices|safe}}; var cryptoSymbol='{{crypto_for_breadcrumb_data.symboll}}'; var cryptoFullName='{{crypto_for_breadcrumb_data.name}}';</script>
<script> var allDates = {{crypto_dates|safe}}; var allPrices={{crypto_prices|safe}}; var cryptoFullName='{{crypto_for_breadcrumb_data.name}}';</script>
<script src="{% static 'js/charting/cryptocharts.js' %}"></script>

{% endblock %}
