{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>

    <div class="hero-area">
      {% for item in francois %}
      <!-- Hero Slides Area -->
      <div class="hero-slides owl-carousel">
        <!-- Single Slide -->
        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images1.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images2.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images3.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images4.url}});"></div>

        <!-- Single Slide -->
        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images5.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images6.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images7.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images8.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images9.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images10.url}});"></div>

        <div class="single-hero-slide bg-img background-overlay" style="background-image: url({{item.home_images11.url}});"></div>
        {% endfor %}
      </div>

      <div class="hero-post-area">
        <div class="container">
          <div style = "text-align: center; padding-bottom: 100px;">
            <h1 class="display-4 mb-4" style="color: white; font-size: 72px;">
              FINTANK
            </h1>
            <p style="color: white;  font-size: 32px;">Your Portfolio Just Got Easier To Manage</p>
          </div>
          </div>
      </div>
  </div>

  <div class="main-content-wrapper section-padding-150" style="padding-top:20px;">
    <div class='container-fluid'>
    <div class="jumbotron" style="padding-left:20px;">
      <h1 class="display-4">Stock Sector & Market Cap Screener</h1>
       <p class="lead">Industry grouping is based on a subset of the Industry's Universe based on stocks from the S&P 500, Dow Jones Industrial Average and the Nasdaq Composite.</p>
       <hr class="my-4">
      </div>
      <div class="row">
         <form action="{% url 'screener' %}"class="form-inline my-2 my-lg-0" method='POST'>
           {% csrf_token %}
       <div class = "col-md-6">
         <p>Please select an Industry Below.</p>
             <div class="input-group mb-3">
           <div class="input-group-prepend">
             <button class="btn btn-secondary" type="submit" name='option'>Search</button>
           </div>
           <select name ='option' class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
             <option value=''>Choose </option>
             <option value="Healthcare">Healthcare</option>
             <option value="Technology">Technology</option>
             <option value="Industrials">Industrials</option>
             <option value="Utilities">Utilities</option>
             <option value="Consumer Cyclical">Consumer Discretionary</option>
             <option value="Financial">Financials</option>
             <option value="Basic Materials">Basic Materials</option>
             <option value="Consumer Defensive">Consumer Staples</option>
             <option value="Communication Services">Communication</option>
             <option value="Real Estate">Real Estate</option>
             <option value="Energy">Energy</option>
             <option value="ETFs">ETFs</option>
           </select>
         </div>
       </div>
       <div class="col-md-6">
         <p>Please specify a Market Capital</p>
         <div class="input-group mb-3">
           <select name ='option2' class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
             <option value=''>Choose</option>
             <option value="200000000000">Mega Cap</option>
             <option value="10000000000">Large Cap</option>
             <option value="2000000000">Mid Cap</option>
             <option value="300000000">Small Cap</option>
             <option value="50000000">Micro Cap</option>
           </select>
         </div>
      </form>
     </div>
    </div>

    <div>
      <div class="row" style="background:white;">
        <div class="col-12 col-lg-12">
          {% if pure_equity_list %}
            <div class="post-meta">
              <h5>Search Results:
                Showing: {{ length | safe }}
              </h5>
            </div>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Ticker</th>
                  <th scope="col">Company Name</th>
                  <th scope="col">Market Cap</th>
                  <th scope="col">Sector</th>
                  <th scope="col">Industry</th>
                  <th scope="col">Beta</th>
                  <th scope="col">Price</th>
                  <th scope="col">Last Annual Dividend</th>
                  <th scope="col">Volume</th>
                  <th scope="col">Exchange</th>
                  <th scope="col">Exchange Short Name</th>
                </tr>
              </thead>
              <tbody>
                {% for item in pure_equity_list %}
                <tr>
                  <th scope='row'><a href="{% url 'stock-item' item.symbol %}" target="_blank">{{ item.symbol }}</a></th>
                  <td>{{ item.companyName }}</td>
                  <td>{{ item.marketCap }}</td>
                  <td>{{ item.sector }}</td>
                  <td>{{ item.industry }}</td>
                  <td>{{ item.beta }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.lastAnnualDividend }}</td>
                  <td>{{ item.volume }}</td>
                  <td>{{ item.exchange }}</td>
                  <td>{{ item.exchangeShortName }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}

            <nav aria-label="Page navigation example">
              {% if pure_equity_list.has_other_pages %}
              <ul class="pagination justify-content-center pagination-md">
                {% if pure_equity_list.has_previous%}
                <li class="page-item">
                  <a class="page-link" href="?page={{combined_us_markets_ex_etf.previous_page_number}}" tabindex="-1">Previous</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Previous</a>
                </li>
                {% endif %}
                {% for pg in page_range %}
                  {% if pure_equity_list.number == pg %}
                    <li class="page-item active"><a class="page-link" href="#">{{pg}}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{pg}}">{{pg}}</a></li>
                  {% endif %}
                {% endfor %}
                {% if pure_equity_list.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{combined_us_markets_ex_etf.next_page_number}}" tabindex="-1">Next</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link">Next</a>
                </li>
                {% endif %}
              </ul>
              {% endif %}
            </nav>
          </div>
        </div>
      </div>
    </div>




    <!-- ***** Footer Area Start ***** -->
  {% endblock %}
